html{
    background-color: #338DC1;
    height: 4000px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%230378aa' fill-opacity='0.76'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.76'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
}

#loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #4fb7e0;; /*rgba(0, 0, 0, 0.5);*/
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
	
  }

  .loader-text {
	font-size: 1.5em;
	color: #fff;
	margin-right: 10px;
  }
  
  .loader {
	border: 6px solid #fff;
	border-top: 6px solid red;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }
  

body div{
	
	text-align: center;
}


#company-results{
	display:none;
}

.nav__cont {
	position: fixed;
	width: 60px;
	top: 0;
	height: 100vh;
	z-index: 100;
	background-color: #202020;
	overflow: hidden;
	transition: width .3s ease;
	cursor: pointer;
	box-shadow: 4px 7px 10px rgba(0,0,0,.4);
    list-style: none;

}
 .nav__cont:hover {
		width: 250px;
	    list-style: none;

    } 


.nav__items {
	padding-bottom: 4rem;
	font-family: 'roboto';
    list-style: none;
}

#imagenes{
    filter:sepia(10);
}



#particles-js{
	height: 4000px;
}

#company-results {
	list-style-type: none;
	/* Elimina los puntos de la lista */
	padding: 0;
	/* Elimina el espacio de relleno predeterminado */
	margin-left: 100px;
	/* Elimina el margen predeterminado */
  }
  
  #company-results li {
	margin-bottom: 10px;
	/* Define el margen que quieres tener entre cada elemento de la lista */
	padding: 10px;
	/* Define el espacio de relleno que quieres tener dentro de cada elemento de la lista */
	background-color: #f2f2f2;
	/* Define el color de fondo para cada elemento de la lista */
	border-radius: 5px;
	/* Define el radio de borde para cada elemento de la lista */
  }
  
  #company-results li:hover {
	background-color: #ddd;
	/* Define el color de fondo para cada elemento de la lista cuando se le pasa el mouse por encima */
  }

a:hover {
    margin-left: -5px;
    background: radial-gradient(circle at 94.02% 88.03%, #54a4ff, transparent 100%);
    font-family: 'Arial';

	}


a {
		position: relative;
		display: block;
		top: -35px;
		padding-left: 25px;
		padding-right: 15px;
		transition: all .3s ease;
		margin-left: 25px;
		margin-right: 10px;
		text-decoration: none;
		color: white;
		font-family: 'Arial';
		font-weight: 100;
		font-size: 1.35em;
}
 

	svg {
		width: 26px;
		height: 26px;
		position: relative;
		left: -25px;
		cursor: pointer;
        
		@media screen and(min-width: 600px) {
			width: 32px;
			height: 32px;
			left: -15px;
		}
	}

    .main-style {
        margin: 0 auto;
        max-width: 800px;
        text-align: center;
        font-family: Arial, sans-serif;
        font-size: 24px;
        color: #333;
        background-color: #f1f1f1;
        padding: 20px;
      }

	 .btn-user {
		background-color: #2ecc71;
		border: none;
		color: white;
		padding: 12px 24px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		border-radius: 30px;
		transition-duration: 0.4s;
		cursor: pointer;
		box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
		margin-left: 1200px;
		cursor: none;
	  }
	  
	  .btn-user:hover {
		background-color: #27ae60;
	  }

	  #chau{
		background-color: #2ecc71;
		border: none;
		color: white;
		padding: 12px 24px;
		text-align: center;
		text-decoration: none;
		display: flex;
		font-size: 16px;
		border-radius: 30px;
		transition-duration: 0.4s;
		box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
		margin-left: 1000px;
		cursor: pointer;
		position: absolute;
	  }

	  #chau:hover {
		background-color: #c52d2d;
	  }



	  